<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>华中农业大学作物学实验教学中心</title>
  <link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700' />
  <link rel="shortcut icon" href="__ROOT__/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/home_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/show_public.css" />
  <link rel="stylesheet" href="__PUBLIC__/face/css/equipment_detail.css" />
  <script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<div id="wrapper">
  
  <!--************************************************************** header **************************************************************-->
  <div id="header"> 
    <include file="./Application/Home/View/Public/header.html" />
  </div>

  <!--**************************************************************   nav  **************************************************************-->
  <div id="nav">
    <include file="./Application/Home/View/Public/nav.html" />
  </div>
  
   <!--**************************************************************  main **************************************************************-->
  <div id="main">
    <div class="container">
      <div id="blank"></div>
      <div id="main_nav">
        <section>
          <h3>设施设备</h3>
          <ul class="ultop">
            <li><a href="__APP__/Home/Equipment/equipment_show1">大田设施</a></li>
            <li><a href="__APP__/Home/Equipment/equipment_show2">培养室</a></li>
            <li><a href="__APP__/Home/Equipment/equipment_show3">实验室</a></li>
            <li><a href="__APP__/Home/Equipment/equipment_show4" style="border-left: 3px solid orange;">仪器设备</a></li>
          </ul>
        </section>
      </div>
      <div id="main_right">

        <nav class="top_nav"><a href="__APP__/home/Index/index.html">首页</a> · <a href="#">设施设备</a> · <a href="#">仪器设备</a> · <a href="#"><{$data.ecname}></a></nav>
        <header class="main_title"><h2><{$data.ecname}></h2></header>
        <section class="article">
          <div class="eqdetail_top">
            设备状态:待修 开放状态:网上预约 
          </div>
          <table cellspacing="0" cellpadding="0" class="eqtable">  
            <div class="eqtable_top"> 设备基本信息</div>
            <tr>  
                <td class="eqtable_d">设备编号</td>
                <td><{$data.eoutid}></td>
                <td class="eqtable_d2">分   类</td>  
                <td><{$data.etype}></td>
                <td class="eqtable_d">启用日期</td>
                <td>2007-11-08</td> 
                <td class="eqtable_d">设备总值</td> 
                <td><{$data.eprice}></td>  
            </tr>  
            <tr>  
                <td class="eqtable_d">规格型号</td>
                <td></td>
                <td class="eqtable_d2">国   别</td>  
                <td>美国</td>
                <td class="eqtable_d">厂   家</td>
                <td>美国GE集团公司</td> 
                <td class="eqtable_d">外币金额</td> 
                <td></td>   
            </tr>  
            <tr>  
                <table cellspacing="0" cellpadding="0" class="intable1">
                  <td class="eqtable_d">所在单位  </td>  
                  <td width="262px">国资设备处</td>  
                  <td  class="eqtable_d2">机   组</td>
                  <td>蛋白质组学平台</td>  
                </table>
            </tr>  
            <tr>
              <table cellspacing="0" cellpadding="0" class="intable1">  
                <tr>
                  <td class="eqtable_d">存放地点</td>  
                  <td>外三楼204</td>
                </tr>
                <tr>
                  <td class="eqtable_d">开放时间</td>  
                  <td>法定工作日</td>
                </tr>
                <tr>
                  <td class="eqtable_d">校内收费</td>  
                  <td>200元/小时</td>
                </tr>
                <tr>
                  <td class="eqtable_d">校外收费</td>  
                  <td></td>
                </tr>
                <tr>
                  <td class="eqtable_d">认证情况</td>  
                  <td>未认证</td>
                </tr>
              </table>
            </tr>  
          </table> 
          
           <table cellspacing="0" cellpadding="0" class="eqtable">  
            <div class="eqtable_top"> 设备联系人</div>
            <tr>
              <table cellspacing="0" cellpadding="0" class="intable1">
              <tr class="trcon">
               <td>类型</td>
               <td>姓名</td>
               <td>职称</td>
               <td>手机</td>
               <td>电话</td>
               <td>Email</td>
              </tr>  
              <tr class="trconin">
                <td>机组负责人</td>  
                <td>胡利华</td>
                <td>工程师</td>
                <td>180 4059 9701</td>
                <td>027-872 84295</td>
                <td>hulihua@mail.hzau.edu.cn</td>
              </tr>
              </table>
            </tr>  
          </table>  

          <table cellspacing="0" cellpadding="0" class="eqtable">  
            <div class="eqtable_top"> 设备详细信息</div>
            <tr>
              <table cellspacing="0" cellpadding="0" class="intable1">  
                <tr>
                  <td class="eqtable_d">技术指标  </td>  
                  <td>最小扫描分辨率：25μm 。 内置488nm固态蓝激光。 红（635nm）绿（532nm）激光双通道同时激发扫描，四色荧光 一次成像。 高分辨率磷屏检测同位素。 低分辨率(1000μm,500μm)预扫描功能。</td>
                </tr>
                <tr>
                  <td class="eqtable_d">主要功能</td>  
                  <td>Typhoon能同时检测1-4种不同色彩的荧光标记。 可检测多种同位素自显影 (32P, 35S, 33P, 14C, 125I, 28F, 3H 等 。 高灵敏度的检测设计使 Typhoon 能直接测定化学发光(ECL)等。 红蓝绿4色荧光标记(532, 457, 488, 635 nm) ，一次成像及化学发光直接测定。 扫描面积可达5×43cm 。 多种配套软件，能对样品作精确的定量定性分析，包括微阵列 (MicroArray)的分析。 可用于测定荧</td>
                </tr>
                <tr>
                  <td class="eqtable_d">应用范围</td>  
                  <td>教学，科研</td>
                </tr>
                <tr>
                  <td class="eqtable_d">主要附件</td>  
                  <td>外3楼205</td>
                </tr>
                <tr>
                  <td class="eqtable_d">使用方向</td>  
                  <td>科研</td>
                </tr>
                <tr>
                  <td class="eqtable_d">说    明</td>  
                  <td>Typhoon Trio经过优化可用于在蛋白质组学研究的Ettan DIGE系统--双向凝胶差异凝胶电泳中的CyDye DIGE荧光标记蛋白成像。Typhoon的光学系统经过优化，对于DIGE的Cy2, Cy3, Cy5检测可以达到最佳检测灵敏度和分辨率。全自动多色荧光扫描功能可以在一次实验中检测多个样品，能够提供高通量的准确性分析。 </td>
                </tr>
              </table>
            </tr>  
          </table>  

            <img class="eqdetail_img" src="__PUBLIC__/face/images/eqt/1.jpg" alt="">
        </section>
      </div>
    </div>
  </div>
  
   <!--************************************************************** footer **************************************************************-->
  <div id="footer">
     <include file="./Application/Home/View/Public/footer.html" />
  </div>
</div>
  <script type="text/javascript" src="__PUBLIC__/face/js/jquery_homepage.js"></script>
</body>
</html>