<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>2017/5/16</h3>
    <ul class="nav side-menu">
      <div class="nav_middel_title">
        <h3><{$cname}></h3>
        <a href="__APP__/Admin/Education/education_show4">返回</a>
      </div>
      <li><a href="__APP__/Admin/Education/education_show4_1/id/<{$id}>"><i class="fa fa-book"></i> 教学大纲 </a></li>
      <li><a href="__APP__/Admin/Education/education_show4_2/id/<{$id}>"><i class="fa fa-table"></i> 课程课表</a>
       
      </li>
      <li><a href="__APP__/Admin/Education/education_show4_3/id/<{$id}>"><i class="fa fa-calendar-o"></i> 教学日历 </a>
       
      </li>
      <li><a href="__APP__/Admin/Education/education_show4_4/id/<{$id}>"><i class="fa fa-file-pdf-o"></i> 教材课件 </a></li>
      
      <li><a href="__APP__/Admin/Education/education_show4_5/id/<{$id}>"><i class="fa fa-video-camera"></i> 相关视频 </a>
     
      </li>
      <li><a href="__APP__/Admin/Education/education_show4_6/id/<{$id}>"><i class="fa fa-edit"></i>作业任务</a>
       
      </li>
      <li><a href="__APP__/Admin/Education/education_show4_7/id/<{$id}>"><i class="fa fa-group"></i>主题交流</a>
        
      </li>

    </ul>
  </div>
 

</div>