<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>2017/5/16</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> 首页管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Index/index_show1">页面管理</a></li>
          <li><a href="__APP__/Admin/Index/index_show5">通知公告</a></li>               
          <li><a href="__APP__/Admin/Index/index_show2">成果展示</a></li>     
          <li><a href="__APP__/Admin/Index/index_show3">美图欣赏</a></li>
          <li><a href="__APP__/Admin/Index/index_show4">下载专区</a></li>               
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> 中心概况 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/About/about_show1">中心简介</a></li>
          <li><a href="__APP__/Admin/About/about_show2">机构设置</a></li>
          <li><a href="__APP__/Admin/About/about_show3">团队建设</a></li>
          <li><a href="__APP__/Admin/About/about_show4">管理模式</a></li>
          <li><a href="__APP__/Admin/About/about_show5">年度报告</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> 设施设备 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Equipment/equipment_show1">大田设施</a></li>
          <li><a href="__APP__/Admin/Equipment/equipment_show2">培养室</a></li>
          <li><a href="__APP__/Admin/Equipment/equipment_show3">实验室</a></li>
          <li><a href="__APP__/Admin/Equipment/equipment_show4">仪器设备</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-mortar-board"></i> 实验教学 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          	<li><a href="__APP__/Admin/Education/education_show1">教学动态</a></li>
          	<li><a href="__APP__/Admin/Education/education_show2">教学体系</a></li>
        	  <li><a>课程安排 <span class="fa fa-plus-square"></span></a>
  	          <ul class="nav child_menu">
              	<li><a href="__APP__/Admin/Education/education_show3_one">试验区课表</a></li>
                <li><a href="__APP__/Admin/Education/education_show3_two">课程课表</a></li>              
              </ul>
        	  </li>
        	  <li><a href="__APP__/Admin/Education/education_show4"> 在授课程</a>
                   		            
      		</li>
      	</ul>
      <li><a><i class="fa fa-bar-chart-o"></i> 教改创新 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Creation/creation_show1">教改项目</a></li>
          <li><a href="__APP__/Admin/Creation/creation_show2">教改成果</a></li>
          <li><a href="__APP__/Admin/Creation/creation_show3">创新实验项目</a></li>
          <li><a href="__APP__/Admin/Creation/creation_show4">学生创新项目</a></li>
          <li><a href="__APP__/Admin/Creation/creation_show5">学生创新成果</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-flask"></i>开放实验室<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Laboratory/laboratory_show1">申报说明</a></li>
          <li><a href="__APP__/Admin/Laboratory/laboratory_show2">运行项目</a></li>
          <li><a href="__APP__/Admin/Laboratory/laboratory_show3">项目申请</a></li>
          <li><a href="__APP__/Admin/Laboratory/laboratory_show4">项目成果</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-book"></i>规章制度<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Fictitious/fictitious_show1">部委文件</a></li>
          <li><a href="__APP__/Admin/Fictitious/fictitious_show2">学校文件</a></li>
          <li><a href="__APP__/Admin/Fictitious/fictitious_show3">学院文件</a></li>
          <li><a href="__APP__/Admin/Fictitious/fictitious_show4">中心文件</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-share-alt-square"></i>共享互动<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Share/share_show1">课程互动</a></li>
          <li><a href="__APP__/Admin/Share/share_show2">综合互动</a></li>
          <li><a href="__APP__/Admin/Share/share_show3">资源共享</a></li>
        </ul>
      </li>
    </ul>
  </div>
 

</div>