<div class="container">
	<div id="navn" >
      	<ul>
	        <li class="navOne_class"><a class="active" href="__APP__/Home/Index/index">首&ensp;页</a></li>
	        <li class="navOne_class"><a href="__APP__/Home/About/about_show1">中心概况</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/About/about_show1">中心简介</a></li>
	                <li class="secnav"><a href="__APP__/Home/About/about_show2">机构设置</a></li>
	                <li class="secnav"><a href="__APP__/Home/About/about_show3">团队建设</a></li>
	                <li class="secnav"><a href="__APP__/Home/About/about_show4">管理模式</a></li>
	                <li class="secnav"><a href="__APP__/Home/About/about_show5">年度报告</a></li>
	            </ul>
	        </li>	
	       <li class="navOne_class"> <a href="__APP__/Home/Equipment/equipment_show1">设施设备</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Equipment/equipment_show1">大田设施</a></li>
	                <li class="secnav"><a href="__APP__/Home/Equipment/equipment_show2">培养室</a></li>
	                <li class="secnav"><a href="__APP__/Home/Equipment/equipment_show3">实验室</a></li>
	                <li class="secnav"><a href="__APP__/Home/Equipment/equipment_show4">仪器设备</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Education/education_show1">实验教学</a>
	       		<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Education/education_show1">教学动态</a></li>
	                <li class="secnav"><a href="__APP__/Home/Education/education_show2">教学体系</a></li>
	                <li class="secnav"><a href="__APP__/Home/Education/education_show3">课程安排</a></li>
	                <li class="secnav"><a href="__APP__/Home/Education/education_show4">在授课程</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Creation/creation_show1">教改创新</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Creation/creation_show1">教改项目</a></li>
	                <li class="secnav"><a href="__APP__/Home/Creation/creation_show2">教改成果</a></li>
	                <li class="secnav"><a href="__APP__/Home/Creation/creation_show3">创新实验项目</a></li>
	                <li class="secnav"><a href="__APP__/Home/Creation/creation_show4">学生创新项目</a></li>
	                <li class="secnav"><a href="__APP__/Home/Creation/creation_show5">学生创新成果</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Laboratory/laboratory_show1">开放实验室</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show1">申报说明</a></li>
	                <li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show2">运行项目</a></li>
	                <li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show3">项目申请</a></li>
	                <li class="secnav"><a href="__APP__/Home/Laboratory/laboratory_show4">项目成果</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Fictitious/fictitious_show1">规章制度</a>
	        	<ul class="nav_left">
	            	<li class="secnav"><a href="__APP__/Home/Fictitious/fictitious_show1">部委文件</a></li>
	                <li class="secnav"><a href="__APP__/Home/Fictitious/fictitious_show2">学校文件</a></li>
	                <li class="secnav"><a href="__APP__/Home/Fictitious/fictitious_show3">学院文件</a></li>
	                <li class="secnav"><a href="__APP__/Home/Fictitious/fictitious_show4">中心文件</a></li>
	            </ul>
	        </li>
	        <li class="navOne_class"><a href="__APP__/Home/Share/share_show1">共享互动</a>
	        	<ul class="nav_right">
	            	<li class="secnav"><a href="__APP__/Home/Share/share_show1">课程互动</a></li>
	                <li class="secnav"><a href="__APP__/Home/Share/share_show2">综合互动</a></li>
	                <li class="secnav"><a href="__APP__/Home/Share/share_show3">资源共享</a></li>
	            </ul>
	        </li>
        </ul>
    </div>
</div>
